<h1>Welcome to EasyApply! Please Sign up:</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', instance: @user %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.check_box :employer %>
    <%= f.label :employer, "I'm an employer" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Sign up!" %>
  </div>
  <p>
    Current user? <%= link_to "Please log in!", login_path %>
  </p>
<% end %>
